.txt {
	font-family: 'arial';
	color: #aaa;
	font-size: 16px;
	font-weight: normal;

	* {
		font-family: inherit;
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	&.txt_menu {
		font-family: var(--font-nanum);
		font-weight: 400;
		font-style: italic;

		&:hover {
			color: orange;
		}
	}

	&.txt_breadcrumb {
		color: #888;
		font-size: 12px;
		font-style: normal;

		&.on {
			color: orange;
		}
	}
}
