.txt {
	font-family: var(--font-roboto);
	color: #aaa;
	font-size: 16px;
	line-height: 1.3;
	font-weight: normal;

	* {
		font-family: inherit;
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	&.txt_menu {
		font-family: var(--font-orbitron);
		font-weight: 400;
		font-size: 20px;

		&:hover,
		&.on {
			color: orange;
		}
	}

	&.txt_desc {
		font-family: var(--font-roboto);
		font-weight: 400;
		color: #cacaca;
	}

	&.txt_util {
		color: #888;
		font-size: 12px;
		font-style: normal;

		&.on {
			color: orange;
		}
	}
}
