.tit {
	color: #bbb;
	font-family: var(--font-roboto);
	font-weight: 400;
	font-size: 16px;

	a {
		font-size: inherit;
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
	}

	&.tit_logo {
		font-family: var(--font-orbitron);
		font-weight: 700;
		color: #fff;
		font-size: 25px;
		margin-bottom: 15px;
	}

	&.tit_subTitle {
		font-size: 20px;
		color: #ccc;
	}

	&.tit_slogan {
		font-size: 5vw;
		color: #fff;
		font-family: var(--font-roboto);
	}
	&:hover {
		color: orange;
	}
}
