.tit {
	color: #333;
	font-family: var(--font-nanum);
	font-weight: 400;

	a {
		font-size: inherit;
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
	}

	&:hover {
		color: orange;
	}

	&.tit_logo {
		font-family: var(--font-nanum);
		font-weight: 700;
		color: #fff;
		font-size: 22px;
	}

	&.tit_slogan {
		font-size: 10vw;
		color: orange;
	}
}
