.btn {
	padding: 5px 10px;
	width: 108px;
	height: 41px;
	background: #1b2539;
	border-radius: 5px;
	color: #fff;
	border: none;
	transform: translate(0, -5%);
	font: 15px/1 var(--font-roboto);
	cursor: pointer;
	margin: 20px 0 60px 0;
	margin-right: 15px;

	&:hover,
	&.on {
		color: #fec202;
		border: 1px solid #fec202;
	}
}
.btn2 {
	width: 108px;
	height: 41px;
	background: #6e6e6e;
	border-radius: 5px;
	color: #fff;
	border: none;
	transform: translate(0, -5%);
	font: 15px/1 var(--font-roboto);
	cursor: pointer;
}
