* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0;
}
.in {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: orange;
	transform-origin: left;
	z-index: 5;
}
.out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: orange;
	transform-origin: right;
	z-index: 5;
}

.detail {
	.picFrame {
		width: 100%;
		height: 40vh;
	}
}
